@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,500;1,400&display=swap');
/* @import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Mulish', system-ui, sans-serif;
	}
}

body {
	margin: 0;
	line-height: 1.614;
}

* {
	box-sizing: border-box;
}

.app-container {
	height: 100dvh;
}

*::-webkit-scrollbar {
	display: none;
}

svg.github-icon {
	fill: #181616;
}

svg.github-icon-dark {
	fill: #e4e6e6;
}

.book_poster {
	width: 100%;
	max-height: 200px;
	object-fit: contain;	
	margin-right: 10px;
	transition: transform 450ms;
}

.book_poster:hover {
	transform: scale(1.08);
}